extends layout_black

block content
	#divtoBlink.circle.right-light.rotateR
		if state=='straight'
			i.lg_icon.fa.fa-arrow-up
		else if state=='r_blink'
			if num_value!=0
				h2.lg_num #{num_value}
				if num_value
					h6.sm_text m
			else
				i.lg_icon.fa.fa-arrow-right
		else if state=='mirror'
			video(autoplay)
	h6.hint_text_r #{state} : #{num_value}

	script.
		navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
		if (navigator.getUserMedia) {
			navigator.getUserMedia({ audio: false, video: true },
					function(stream) {
						var video = document.querySelector('video');
						video.src = window.URL.createObjectURL(stream);
						//- video.onloadedmetadata = function(e) {
						//- 	video.play();
						//- };
					},
					function(err) {
						console.log("The following error occurred: " + err.name);
					}
			);
		} else {
			console.log("getUserMedia not supported");
		}