@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
.navbar-header{
  background-color: rgba(0, 0, 0, 0);
}

.circle{
  margin-top: -9%;
//  margin-left: auto;
//  margin-right: auto;
  width:300px;
  height:300px;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#747474;
}
#thisLight{
}
#divtoBlink{
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition:    background 0.1s ease-in-out;
    -ms-transition:     background 0.1s ease-in-out;
    transition:         background 0.1s ease-in-out;
}
.backgroundRed{
    background: #F00;
}
.backgroundGreen{
    background: #3df57d;
}
.backgroundBlue{
    background: #61b6ff;
}
.colorBlue{
    color: #61b6ff;
}
.backgroundNone{
    background: #747474;
}
.circle > h2{
    margin-top: 100px;
    font-size: 140px;
}
.circle .lg_num,.circle .sm_text{
    display: inline-block;
    margin-top: 70px;
}
.rotateR {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}
.rotateL {
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
}
.circle > h6{

    font-size: 40px;
    
}
.left-light{
//    margin-right: -10px;
    margin-left: 45%;
}
.right-light{
    margin-right: 45%;
}
.navbar-header .icon-bar{
    color: #000;
}
.lgBtn{
    font-size: 40px;
    display: inline-block;
}
.bg_black{
    background: #000;
}

.hint_text_r{
    font-size: 20px;
    color: #fff;
//    display: inline-block;
    margin-top: -100px;
    margin-left: 80%;
}
.hint_text_l{
    font-size: 20px;
    color: #fff;
//    display: inline-block;
    margin-top: -100px;
    margin-left: 5%;
}
.lg_icon{
    font-size: 150px;
    margin-top: 70px;
}